name: CI

on:
  pull_request:
  push:
    tags:
      - "**"
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  generate-config:
    runs-on: ubuntu-latest
    outputs:
      BIRTH_GITHUB_TARGETS: ${{ steps.generate-config.outputs.BIRTH_GITHUB_TARGETS }}
      BIRTH_CMAKE_BUILD_TYPES: ${{ steps.generate-config.outputs.BIRTH_CMAKE_BUILD_TYPES }}
      BIRTH_LINUX_IMAGE: ${{ steps.generate-config.outputs.BIRTH_LINUX_IMAGE }}
      BIRTH_WINDOWS_IMAGE: ${{ steps.generate-config.outputs.BIRTH_WINDOWS_IMAGE }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Generate config
        id: generate-config
        uses: birth-software/github-config@v2
  build_llvm:
    needs: generate-config
    permissions: write-all
    strategy:
      matrix:
        os: ${{ fromJSON(needs.generate-config.outputs.BIRTH_GITHUB_TARGETS) }}
        CMAKE_BUILD_TYPE: ${{ fromJSON(needs.generate-config.outputs.BIRTH_CMAKE_BUILD_TYPES) }}
    runs-on: ${{ matrix.os }}
    env:
      INSTALL_DIRECTORY: llvm
      BIRTH_LINUX_IMAGE: ${{ needs.generate-config.outputs.BIRTH_LINUX_IMAGE }}
      BIRTH_WINDOWS_IMAGE: ${{ needs.generate-config.outputs.BIRTH_WINDOWS_IMAGE }}
    steps:
      - name: Maximize build space
        if: matrix.os == env.BIRTH_LINUX_IMAGE
        uses: AdityaGarg8/remove-unwanted-software@v4.1
        with:
          remove-android: 'true'
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
          remove-large-packages: 'true'
          remove-cached-tools: 'true'
          remove-swapfile: 'true'
      - uses: actions/checkout@v4
      - uses: birth-software/github-setup@v2
      - name: Build
        shell: bash
        run: |
          set -ex
          ROOT_DIR=$(pwd)
          INSTALL_DIRECTORY_PATH=$ROOT_DIR/$INSTALL_DIRECTORY
          ZSTD_BUILD_DIR=build-zstd
          mkdir -p $ZSTD_BUILD_DIR
          cd $ZSTD_BUILD_DIR
          cmake $ROOT_DIR/zstd -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_ASM_COMPILER=clang -DCMAKE_INSTALL_PREFIX="$INSTALL_DIRECTORY_PATH" -DCMAKE_BUILD_TYPE=${{ matrix.CMAKE_BUILD_TYPE }}
          cmake --build . --target install
          cd $ROOT_DIR

          ZLIB_BUILD_DIR=build-zlib
          mkdir -p $ZLIB_BUILD_DIR
          cd $ZLIB_BUILD_DIR
          cmake $ROOT_DIR/zlib -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_ASM_COMPILER=clang -DCMAKE_INSTALL_PREFIX="$INSTALL_DIRECTORY_PATH" -DCMAKE_BUILD_TYPE=${{ matrix.CMAKE_BUILD_TYPE }}
          cmake --build . --target install
          cd $ROOT_DIR

          case $BIRTH_OS in
            windows) OPTIONAL_TRIPLE_ARG="-DLLVM_HOST_TRIPLE=$BIRTH_ARCH";;
            *) OPTIONAL_TRIPLE_ARG="";;
          esac

          LLVM_BUILD_DIR=build-llvm
          mkdir -p $LLVM_BUILD_DIR
          cd $LLVM_BUILD_DIR
          cmake $ROOT_DIR/llvm \
          -G Ninja \
          -DCMAKE_INSTALL_PREFIX="$INSTALL_DIRECTORY_PATH" \
          -DCMAKE_PREFIX_PATH="$INSTALL_DIRECTORY_PATH" \
          -DCMAKE_BUILD_TYPE=${{ matrix.CMAKE_BUILD_TYPE }} \
          -DCMAKE_C_COMPILER=clang \
          -DCMAKE_CXX_COMPILER=clang++ \
          -DCMAKE_ASM_COMPILER=clang \
          $OPTIONAL_TRIPLE_ARG \
          -DLLVM_PARALLEL_LINK_JOBS=1 \
          -DLLVM_ENABLE_BINDINGS=OFF \
          -DLLVM_ENABLE_LIBEDIT=OFF \
          -DLLVM_ENABLE_LIBPFM=OFF \
          -DLLVM_ENABLE_LIBXML2=OFF \
          -DLLVM_ENABLE_OCAMLDOC=OFF \
          -DLLVM_ENABLE_PLUGINS=OFF \
          -DLLVM_ENABLE_TERMINFO=OFF \
          -DLLVM_ENABLE_Z3_SOLVER=OFF \
          -DLLVM_ENABLE_ZSTD=OFF \
          -DLLVM_INCLUDE_UTILS=OFF \
          -DLLVM_INCLUDE_TESTS=OFF \
          -DLLVM_INCLUDE_EXAMPLES=OFF \
          -DLLVM_INCLUDE_BENCHMARKS=OFF \
          -DLLVM_INCLUDE_DOCS=OFF \
          -DLLVM_TOOL_LLVM_LTO2_BUILD=OFF \
          -DLLVM_TOOL_LLVM_LTO_BUILD=OFF \
          -DLLVM_TOOL_LTO_BUILD=OFF \
          -DLLVM_TOOL_REMARKS_SHLIB_BUILD=OFF
          cmake --build . --target install
          cd $ROOT_DIR

          LLVM_BASENAME=llvm-$BIRTH_ARCH-$BIRTH_OS-${{ matrix.CMAKE_BUILD_TYPE }}
          7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=64m -ms=on $LLVM_BASENAME.7z $INSTALL_DIRECTORY_PATH
          b2sum $LLVM_BASENAME.7z > "$LLVM_BASENAME.7z.b2sum"
          cat "$LLVM_BASENAME.7z.b2sum"
          LLVM_ASSET_BASE_PATH="$(pwd)/$LLVM_BASENAME"
          case "$BIRTH_OS" in
            windows) LLVM_ASSET_BASE_PATH="$(cygpath -w ${LLVM_ASSET_BASE_PATH})" ;;
            *) ;;
          esac
            
          echo "LLVM_ASSET_BASE_PATH=$LLVM_ASSET_BASE_PATH" >> $GITHUB_ENV
          echo "LLVM_BASENAME=$LLVM_BASENAME" >> $GITHUB_ENV

      - name: Upload LLVM artifact (7z)
        uses: actions/upload-artifact@v4
        with:
          # Name of the artifact to upload.
          # Optional. Default is 'artifact'
          name: ${{env.LLVM_BASENAME}}.7z
          # A file, directory or wildcard pattern that describes what to upload
          # Required.
          path: ${{env.LLVM_ASSET_BASE_PATH}}.7z
          compression-level: 9
          overwrite: true
          if-no-files-found: 'error'
      - name: Upload LLVM artifact (b2sum)
        uses: actions/upload-artifact@v4
        with:
          # Name of the artifact to upload.
          # Optional. Default is 'artifact'
          name: ${{env.LLVM_BASENAME}}.7z.b2sum
          # A file, directory or wildcard pattern that describes what to upload
          # Required.
          path: ${{env.LLVM_ASSET_BASE_PATH}}.7z.b2sum
          compression-level: 9
          overwrite: true
          if-no-files-found: 'error'
  build_lld:
    needs: [generate-config, build_llvm]
    permissions: write-all
    strategy:
      matrix:
        os: ${{ fromJSON(needs.generate-config.outputs.BIRTH_GITHUB_TARGETS) }}
        CMAKE_BUILD_TYPE: ${{ fromJSON(needs.generate-config.outputs.BIRTH_CMAKE_BUILD_TYPES) }}
    runs-on: ${{ matrix.os }}
    env:
      INSTALL_DIRECTORY: lld
      BIRTH_LINUX_IMAGE: ${{ needs.generate-config.outputs.BIRTH_LINUX_IMAGE }}
      BIRTH_WINDOWS_IMAGE: ${{ needs.generate-config.outputs.BIRTH_WINDOWS_IMAGE }}
    steps:
      - name: Maximize build space
        if: matrix.os == env.BIRTH_LINUX_IMAGE
        uses: AdityaGarg8/remove-unwanted-software@v4.1
        with:
          remove-android: 'true'
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
          remove-large-packages: 'true'
          remove-cached-tools: 'true'
          remove-swapfile: 'true'
      - uses: actions/checkout@v4
      - uses: birth-software/github-setup@v2
      - uses: actions/download-artifact@v4
        with:
          name: llvm-${{env.BIRTH_ARCH}}-${{env.BIRTH_OS}}-${{ matrix.CMAKE_BUILD_TYPE }}
      - name: Build
        shell: bash
        run: |
          set -ex
          ls -lasR
          ROOT_DIR=$(pwd)
          INSTALL_DIRECTORY_PATH=$ROOT_DIR/$INSTALL_DIRECTORY
          LLVM_COMPRESSED_BASENAME=llvm-${{env.BIRTH_ARCH}}-${{env.BIRTH_OS}}-${{ matrix.CMAKE_BUILD_TYPE }}.7z
          7z x "${LLVM_COMPRESSED_BASENAME}.7z"
          LLVM_PREFIX=$ROOT_DIR/llvm

          case $BIRTH_OS in
            windows) OPTIONAL_TRIPLE_ARG="-DLLVM_HOST_TRIPLE=$BIRTH_ARCH";;
            *) OPTIONAL_TRIPLE_ARG="";;
          esac

          LLD_BUILD_DIR=build-lld
          mkdir -p $LLD_BUILD_DIR
          cd $LLD_BUILD_DIR
          cmake $ROOT_DIR/lld \
          -G Ninja \
          -DCMAKE_INSTALL_PREFIX="$INSTALL_DIRECTORY_PATH" \
          -DCMAKE_PREFIX_PATH="$LLVM_PREFIX" \
          -DCMAKE_BUILD_TYPE=${{ matrix.CMAKE_BUILD_TYPE }} \
          -DCMAKE_C_COMPILER=clang \
          -DCMAKE_CXX_COMPILER=clang++ \
          -DCMAKE_ASM_COMPILER=clang \
          $OPTIONAL_TRIPLE_ARG \
          -DLLVM_PARALLEL_LINK_JOBS=1 \
          -DLLVM_ENABLE_BINDINGS=OFF \
          -DLLVM_ENABLE_LIBEDIT=OFF \
          -DLLVM_ENABLE_LIBPFM=OFF \
          -DLLVM_ENABLE_LIBXML2=OFF \
          -DLLVM_ENABLE_OCAMLDOC=OFF \
          -DLLVM_ENABLE_PLUGINS=OFF \
          -DLLVM_ENABLE_TERMINFO=OFF \
          -DLLVM_ENABLE_Z3_SOLVER=OFF \
          -DLLVM_ENABLE_ZSTD=OFF \
          -DLLVM_INCLUDE_UTILS=OFF \
          -DLLVM_INCLUDE_TESTS=OFF \
          -DLLVM_INCLUDE_EXAMPLES=OFF \
          -DLLVM_INCLUDE_BENCHMARKS=OFF \
          -DLLVM_INCLUDE_DOCS=OFF \
          -DLLVM_TOOL_LLVM_LTO2_BUILD=OFF \
          -DLLVM_TOOL_LLVM_LTO_BUILD=OFF \
          -DLLVM_TOOL_LTO_BUILD=OFF \
          -DLLVM_TOOL_REMARKS_SHLIB_BUILD=OFF
          cmake --build . --target install
          cd $ROOT_DIR
